{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Accueil{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Bonjour,</h1>
    <h3>Bienvenue sur soundclown</h3>
</div>
{% endblock %}
